* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-home {
    font-size: 30px;
}

.nav-item {
    display: inline-block;
    margin-left: 30px;
}

.nav-item .current {
    border-bottom: 1px solid white;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    border-bottom: 1px solid white;
}

.nav-home a:hover {
    border-bottom: none;
}

.home {
    background-image: url("../img/plates.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100%;
}

.wrapper {
    background: black;
    opacity: .9;
    height: 100vh;
    width: 100%;
    padding: 20px;
}

.logo {
    width: 215px;
    height: auto;
}